# Ignore all typically hidden folders...
.*/
_*/

gallery/**/*.css
gallery/**/*.html
gallery/**/*.js
gallery/**/*.woff
gallery/**/*.pdf

# ...except
!.github/
!_freeze/
/.quarto/
!_processing/

**/*.quarto_ipynb
